<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bos.dao.SubregionMapper">
	
	<insert id="add">
		INSERT INTO subregion(id,addressKey,startNum,endNum,single,assistKey,regionId) 
		VALUE(NULL,#{addressKey},#{startNum},#{endNum},#{single},#{assistKey},#{regionId})
	</insert>
</mapper>